
<template lang="html">
	<main id="app" class="wrapper">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
		<!-- <link rel="stylesheet" href="app"> -->

		<site-navigation></site-navigation>
		<router-view></router-view>
		<!-- <dashboard-footer v-if="loggedIn"></dashboard-footer> -->
		<!-- Bottom menu -->


	</main>
</template>

<script lang="js">

	import Header from './components/Header'
	export default {
		name: 'App',
		data: function () {
			return {
				
			}
		},
		computed: {
			loggedIn () {
				return this.$store.getters.loggedIn
			},
		},
		components: {
			'site-navigation': Header,
			// 'dashboard-footer': Footer,
		},
		created (){
			this.$store.dispatch('isLoggedIn')
		}
	}
</script>

