<style lang="scss" scoped>

</style>

<template lang="html">
	<div id="app">
	<v-toolbar>
	    <v-toolbar-title>Bidit</v-toolbar-title>
	    <div v-if="loggedIn" color="black" class="profile-place"><v-icon>person_pin</v-icon>{{user.username}}</div>
	    <v-spacer></v-spacer>
	    <v-toolbar-items >
	      <v-btn flat router-link to="/Home" color="black">{{ $t("home") }}</v-btn>
	      <template  v-if="loggedIn && user.groups.length > 0">
		      <v-btn v-if="user.groups[0].name == 'seller'" router-link to="/AddBid"  flat color="black">{{ $t("addlisting") }}</v-btn>
		      <v-btn v-if="user.groups[0].name == 'seller'" router-link to="/MyBids"  flat color="black">{{ $t("mylistings") }}</v-btn>
		      <v-btn v-if="user.groups[0].name == 'buyer'" router-link to="/MyWinnings"  flat color="black">{{ $t("mywinnings") }}</v-btn>
		      <v-btn @click="logout" flat color="black">{{ $t("logout") }}</v-btn>
	      </template>
	      <v-btn v-if="!loggedIn" flat router-link  to="/Login" color="black">{{ $t("login") }}</v-btn>
		  <v-menu offset-y>
	         <v-btn flat color="black" dark slot="activator">{{ $t("language") }}</v-btn>
	         <v-list>
	           <v-list-tile @click="setLanguage('lv')">
	             <v-list-tile-title>Latviešu</v-list-tile-title>
	           </v-list-tile>
	           <v-list-tile @click="setLanguage('en')">
	             <v-list-tile-title>English</v-list-tile-title>
	           </v-list-tile>
	         </v-list>
	       </v-menu>
	    </v-toolbar-items>
  </v-toolbar>
    </div>
</template>

<script lang="js">
	export default {
		name: 'Navigation',
		data () {
			return {

			}
		},
		computed: {
			user () {
				return this.$store.getters.currentUser
			},
			loggedIn (){
				return this.$store.getters.loggedIn
			},
		},
		created () {
			var value = "; " + document.cookie;
			var parts = value.split("; language=");
			var locale = ""
			if (parts.length == 2) locale = parts.pop().split(";").shift()
			if (locale != "") this.$i18n.locale = locale
		},
		methods: {
			logout: function () {
				this.$store.dispatch('logout')
			},
			setLanguage: function(code){
				document.cookie = "language=" + code
				this.$i18n.locale = code
			}
		
		},
		components: {

		}
	}
</script>
