@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
// Global
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	// -webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
	font-family: 'Roboto', sans-serif;
}

.no-color{
	background-color:transparent !important;
}
.transparent-color-white{
	background-color:rgba(245, 245, 245, 0.79)!important;
}
.transparent-color-red{
	background-color: rgba(57, 72, 93, 0.85) !important
}

.bottom-nav .btn:not(.btn--active) {
	color: white !important;
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%);
	opacity: 1; 
}


.menu-top{
	position: absolute;
    width: 100%;
    z-index:999;
}

.menu-color{
	background-color: #3e5568!important;
}

.transparent-color-menu {
	background-color: rgba(57, 72, 93, 0.5) !important
}

.custom-shadow{
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
}

.test2{
	max-height: 100vh;
	padding-top: 56px;
	padding-bottom: 56px;
}
.height-full{
	height: 100%;
	padding-top:0 !important;
	padding-bottom:0 !important;
}
.content-overflow{
	height: 100%;
	margin-top: 0 !important;
	overflow: auto;
}

.anti-padding{
	padding-bottom: 0 !important;	
}
.anti-padding-bottom{
	padding-top: 0 !important;	
}
.anti-padding p{
	margin:0;
}
.anti-padding-bottom p{
	color: #adadad;
    font-size: 12px;
    margin-top: -7px;
}
.custom-margin-bottom{
	margin-bottom: 10px;
}
.custom-margin-top{
	    margin-top: 10px;
    margin-bottom: 17px;
}
.bid-item-header{
	padding-top: 4px;
}

.no-padding-bottom{
	padding-bottom:0px !important;
}
.no-margin{
	margin:0;
}
.no-margin-bottom{
	margin-bottom:0;
}
.font-weight6{
	font-weight: 600;
}
.font-weight5{
	font-weight: 400;
}

.text-shadow{
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.view-width{
	max-width:100%
}

.manual-height:first-child{
	min-height: 80px;
}

.loader-container{
	position: absolute;
    z-index: 999;
    background-color: rgba(128, 128, 128, 0.23);
}

.error-no-container{
	position: absolute;
}

.profile-place{
	margin-left:10px;
}
.custom-button{
	width:120px;
}

.auctionItem{
	margin:auto;
}

.bid-sold{
	color: #267718;
}

.card-media-hover:hover {
    opacity: 0.8;
    transition: all .5s linear;
}

.sell-btn{
	float: right;
}

.item-card-text{
	min-height:100px;
}