<style lang="scss" scoped>

</style>

<template lang="html">
<div id="app">
  <v-app id="inspire" class="test">
    <v-container fluid fill-height>
      <v-layout  flex align-center justify-center>
					
		<transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
			<v-flex xs10 sm7 lg4 v-show="1 == 1">
				
				<v-card class="elevation-20 no-color" >

					<v-card-media>
					</v-card-media>
					<v-card-title>

						<picture-input
						  ref="pictureInput"
						  :width="500"
						  :removable="true"
						  removeButtonClass="btn btn--small theme--dark primary custom-button"
						  :height="500"
						  accept="image/jpeg, image/png, image/gif"
						  buttonClass="btn btn--small theme--dark primary custom-button"
						  :customStrings="{
						  upload: '<h1>Upload it!</h1>',
						  drag: 'Drag and drop your image here'}">
						</picture-input>

					<v-flex>

						<template>
						  <div class="hello">  
							</div>
						</template>
						
						<v-text-field
		                label="Item Name"
		                color="blue-grey darken-3"
		                v-model="name"
		                name="name"
		                :rules="[() => name.length > 0 || 'This field is required', 
		                () => name.length > 2 || 'Name too short']"
		                v-validate="'required'"
		                data-vv-scope="addItem"
		                 :error="errors.has('name', 'addItem')"
		              	></v-text-field>

		              	<v-text-field
		                label="Description"
		                color="blue-grey darken-3"
		                v-model="description"
		                name="description"
		                required
		                v-validate="'required'"
		                data-vv-scope="addItem"
		                :error="errors.has('description', 'addItem')"
		                multi-line
		              	></v-text-field>

		     			<v-text-field
		     			prefix="€"
		                label="Goal"
		                color="blue-grey darken-3"
		                name="goal"
		                v-model="goal"
		                :rules="[() => goal.length > 0 || 'This field is required', () => goal.length > 0 || 'Text too short']"
		                :type="'number'"
		                v-validate="'required'"
		                data-vv-scope="addItem"
		                :error="errors.has('goal', 'addItem')"
		              	></v-text-field>

		              	<v-text-field
		                label="Tags"
		                color="blue-grey darken-3"
		                v-model="tags"
		                hint="Seperate tags with spaces, example: New Expensive"
		                name="tags"
		                data-vv-scope="addItem"
		              	></v-text-field>

		        		 <v-select
						label="Your category"
						hint="Select category"
						persistent-hint
						:items="categories"
						v-model="category"
						required
			            ></v-select>

					</v-flex>

					</v-card-title>
					<v-layout>
						<v-flex xs12 v-ripple @click="addItem()">
							<v-list class="transparent-color-red" dark>
								<v-list-tile>
									<v-list-tile-content class="white--text ">
										<v-list-tile-title class="text-xs-center">Add Item</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-flex>
					</v-layout>
				</v-card>
			</v-flex>
		</transition>

      </v-layout>

    </v-container>
  </form>

  </v-app>
</div>
</template>


<script lang="js">
	// import moment from 'moment'
	import PictureInput from 'vue-picture-input'
	export default {
		name: 'AddBid',
		data() {
		  return {
		  	step: -1,
		  	e1: true,
		  	name: "",
		  	description: "",
		  	goal: "",
		  	tags: "",
		  	category: {}
		  }
		},
		methods: {
		   addItem: function () {
				this.$validator.validateAll('addItem').then((result) => {
					if (result) {
						var name = this.name
						var description = this.description
						var goal = this.goal
						var tags = this.tags
						var category = this.category
						var image = this.$refs.pictureInput.file
						this.$store.dispatch('addBidItem', {name, description, goal, tags, category, image}).then(() => {
							this.$router.push('mybids')
						})


					}
		   		})
			},
			getCategories(){
				this.$store.dispatch('getCategories')
			},
		 },
		computed: {
			categories () {
				return this.$store.getters.addBidCategory
			},
		 },
		 components: {
		    PictureInput
		  },
		  created: function () {
		   	this.getCategories()
		  },
		  mounted(){
		    setTimeout(()=>{
		      this.step = 1
		      this.$forceUpdate()
		    },100)
		  }
	}
</script>
