<style lang="scss" scoped>

</style>

<template lang="html">
<div id="app">
  <v-app id="home">
  	<transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
  	<v-container  fluid fill-height class="view-width" v-show="loaded">

  		<v-layout flex align-center justify-center>


				<v-layout row wrap>
		  			<v-container v-if="bidItemsBusy" fill-height fluid class="loader-container">
						<v-layout row wrap align-center>
								<v-flex class="text-xs-center" xs12 sm9 lg10>
									<v-progress-circular class="valign-wrapper" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
								</v-flex>
						</v-layout>
					</v-container>
					<v-flex align-center xs12 sm10 lg10 class="auctionItem">
						<v-card>
							<v-card-media :src="currentBid.img" height="200px">
							</v-card-media>
							<v-card-title primary-title>
							<v-flex xs12 sm6 lg6>
								<v-layout row wrap class="text-xs-left">
									<v-flex xs12 class="no-padding-bottom">
										<div class="headline">{{currentBid.name}}</div>
									</v-flex>
									<v-flex xs12 class="no-padding-bottom">
										<span class="grey--text">{{currentBid.description}}</span>
									</v-flex>
									
									</v-layout>
								</v-flex>
							<v-flex xs12 sm5 lg5 offset-sm1 offset-lg1>
								<v-layout row wrap class="text-xs-center">
									<v-flex xs12 class="no-padding-bottom">
										<v-progress-circular
										     v-bind:size="150"
										     v-bind:width="30"
										     v-bind:rotate="90"
										     v-bind:value="currentBid.current*100/currentBid.goal"
										     color="green"
										   >
										    {{currentBid.current}}€
										   </v-progress-circular>
									</v-flex>
								
									<v-flex xs12 sm12>
										<span class="subheading ">Goal: 
											<span class="subheading font-weight6 green--text">
												{{currentBid.goal}}€</v-icon>
											</span><br>
											<span v-if="currentBid.sold"class="subheading font-weight6 green--text">
												Sold</v-icon>
											</span>
										</span>
										<template v-if="!currentBid.sold && user.username != currentBid.user">
													<v-text-field
													prefix="€"
										           label="Amount to bid"
										           color="blue-grey darken-3"
										           name="amount"
										           v-model="amount"
										           :rules="[amount > currentBid.current || 'Bid is too low']"
										           :type="'number'"
										           v-validate="'required'"
										            data-vv-scope="placeBid"
										       
										         	></v-text-field>
										         <v-btn block color="green" @click="placeBid" dark>Place Bid</v-btn>
										</template>
									</v-flex>


					
									</v-layout>
								</v-flex>
							</v-card-title>
						</v-card>
					</v-flex>
					
				</v-layout>
		</v-layout>

	</v-container>

</transition>
  </v-app>
</div>
</template>

<script lang="js">
	
	export default {
		name: 'Auction',
		data() {
		  return {
		  	categories:{},
		  	priceFrom: 0,
		  	priceTo: 0,
			page:1,
			loaded:false,
			amount: 0,
			socket: ""
		  }
		},
		computed: {
			bidItems () {
				return this.$store.getters.homeBidItems
			},
			pages (){
				return this.$store.getters.homeBidPages
			},
			bidItemsBusy () {
				return this.$store.getters.bidItemsBusy
			},
			currentBid () {
				return this.$store.getters.selectedBid
			},
			user () {
				return this.$store.getters.currentUser
			},
		
		},
		methods: {
			getBids(){
				var page = this.page
				var that = this
				var categories = []
				var priceFrom = this.priceFrom
				var priceTo = this.priceTo
				Object.keys(this.categories).forEach(function(key) {
					if(that.categories[key].value){
						categories.push(that.categories[key].name)
					}
				});
				this.$store.dispatch('getHomeBids', {page, categories, priceFrom, priceTo}).then(()=>{
					console.log(this.user.username, this.currentBid.user)
					var bidItem = this.$route.params.id
					this.$store.dispatch('setCurrentBid', bidItem)
				})

			},
			getCategories(){
				this.$store.dispatch('getCategories').then((result) => {
					this.categories = JSON.parse(JSON.stringify(this.$store.getters.homeCategories))
				})
			},
			placeBid(){
				var amount = this.amount
				var bidItem = this.$route.params.id
				if(amount > this.currentBid.current){
					this.$store.dispatch('placeBid', { amount, bidItem})
				}
			},
			clearFilter(){
				this.page = 1
				var that = this
				Object.keys(this.categories).forEach(function(key) {
					that.categories[key].value = false
				});
				this.priceFrom = 0
				this.priceTo = 0 
				this.getBids()
			},
		},
		created: function () {
			this.getCategories()
		 	this.getBids()

		 	this.socket = new WebSocket("ws://" + window.location.host + "/" + this.$route.params.id + "/")
		 	this.socket.onmessage = (data) => this.$store.dispatch('changeCurrentBidAmount', data.data)
		},
		beforeDestroy: function () {
			this.socket.close()
		},
		mounted(){
		  setTimeout(()=>{
		    this.loaded = true
		  },100)
		}

	}
</script>


