<style lang="scss" scoped>

</style>

<template lang="html">
<div id="app">
  <v-app id="inspire" class="test">
    <v-container grid-list-md>
      <v-layout row wrap>
					
			<v-flex xs10 sm6 lg6>
				
				<v-card class="elevation-20 no-color" >

					<v-card-media>
					</v-card-media>
					<v-card-title>

						<picture-input
						  ref="pictureInput2"
						  :width="500"
						  :removable="true"
						  removeButtonClass="btn btn--small theme--dark primary custom-button"
						  :height="500"
						  accept="image/jpeg, image/png, image/gif"
						  buttonClass="btn btn--small theme--dark primary custom-button"
						  :prefill="img"
						  :customStrings="{
						  upload: '<h1>Upload it!</h1>',
						  drag: 'Drag and drop your image here'}">
						</picture-input>

					<v-flex>

						<template>
						  <div class="hello">  
							</div>
						</template>
						
						<v-text-field
		                label="Item Name"
		                color="blue-grey darken-3"
		                v-model="name"
		                name="name"
		                :rules="[() => name.length > 0 || 'This field is required', 
		                () => name.length > 2 || 'Name too short']"
		                v-validate="'required'"
		                data-vv-scope="addItem"
		                 :error="errors.has('name', 'addItem')"
		              	></v-text-field>

		              	<v-text-field
		                label="Description"
		                color="blue-grey darken-3"
		                v-model="description"
		                name="description"
		                required
		                v-validate="'required'"
		                data-vv-scope="addItem"
		                :error="errors.has('description', 'addItem')"
		                multi-line
		              	></v-text-field>

		     			<v-text-field
		     			prefix="€"
		                label="Goal"
		                color="blue-grey darken-3"
		                name="goal"
		                v-model.sync="goal"
		                readonly
		                disabled
		              	></v-text-field>

		              	<v-text-field
		                label="Tags"
		                color="blue-grey darken-3"
		                v-model="tags"
		                hint="Seperate tags with spaces, example: New Expensive"
		                name="tags"
		                data-vv-scope="addItem"
		              	></v-text-field>

		        		 <v-select
						label="Your category"
						hint="Select category"
						persistent-hint
						:items="categories"
						v-model="category"
						required
			            ></v-select>

					</v-flex>

					</v-card-title>
					<v-layout>
						<v-flex xs12 v-ripple @click="editBidItem()">
							<v-list class="transparent-color-red" dark>
								<v-list-tile>
									<v-list-tile-content class="white--text ">
										<v-list-tile-title class="text-xs-center">Edit</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-flex>
					</v-layout>
				</v-card>
			</v-flex>

			<v-flex xs10 sm6 lg6>
				<v-card>
					<v-card-title primary-title>
						<v-layout>
							<v-flex xs6>
								<h3 class="headline">Last Bids</h3>
							</v-flex>
							<v-flex xs6>
								<v-btn v-if="!currentBid.sold" class="sell-btn" dark @click="sell" color="green">Sell</v-btn>
								<p v-if="currentBid.sold">Sold to {{currentBid.won_by}}</p>
							</v-flex>
						</v-layout>
					</v-card-title>
				</v-card>
				<v-data-table
			  v-if="lastBids"
			  v-bind:headers.sync="headers"
			  v-bind:items.sync="lastBids"
			  item-key.sync="name"
			  hide-actions
			  class="elevation-1"
			>
			  <template slot="headerCell" slot-scope="props">
			    <v-tooltip bottom>
			      <span slot="activator">
			        {{ props.header.text }}
			      </span>
			      <span>
			        {{ props.header.text }}
			      </span>
			    </v-tooltip>
			  </template>
			  <template slot="items" slot-scope="props" >
			  	<tr :class="{ 'bid-sold': props.item.current >= props.item.goal }">
				    <td>{{ props.item.username }}</td>
					<td>{{ props.item.email }}</td>
					<td>{{ props.item.amount }}</td>
					<td>{{ props.item.date }}</td>
				</tr>
			  </template>
			</v-data-table>
			</v-flex>
      </v-layout>

    </v-container>
  </form>

  </v-app>
</div>
</template>


<script lang="js">
	// import moment from 'moment'
	import PictureInput from 'vue-picture-input'
	export default {
		name: 'EditBid',
		data() {
		  return {
		  	e1: true,
		  	name: "",
		  	description: "",
		  	goal: "",
		  	tags: "",
		  	category: {},
		  	img: "",
		  	headers: [
		        { text: 'User', align: 'center', align: 'left', sortable: false},
		        { text: 'User Email', align: 'center', sortable: false,},
		        { text: 'Amount', align: 'center', sortable: false,},
		        { text: 'Date', align: 'center',sortable: false,}
	      	],
		  }
		},
		methods: {
		   editBidItem: function () {
				this.$validator.validateAll('updateBidItem').then((result) => {
					if (result) {
						var name = this.name
						var description = this.description
						var goal = this.goal
						var tags = this.tags
						var category = this.category.text
						var image = this.$refs.pictureInput2.file
						var bidItem = this.$route.params.id
						this.$store.dispatch('updateBidItem', {name, description, tags, category, image, bidItem}).then(() => {
							// this.$router.push('mybids')
						})
					}
		   		})
			},
			getBidItem(){
				var bidItemId = this.$route.params.id
				this.$store.dispatch('getBidItem', bidItemId).then(() => {
					this.name = this.currentBid.name
					this.description = this.currentBid.description
					this.goal = this.currentBid.goal
					this.tags = this.currentBid.tags
					this.img = this.currentBid.img
					this.category = {"text": this.currentBid.category, "value": this.currentBid.category}
				})
			},
			getCategories(){
				this.$store.dispatch('getCategories')
			},
			sell(){
				var bidItemId = this.$route.params.id
				this.$store.dispatch('sell', bidItemId)
				this.getBidItem()
			},
		 },
		computed: {
			categories () {
				return this.$store.getters.addBidCategory
			},
			currentBid () {
				return this.$store.getters.selectedBid
			},
			lastBids () {
				return this.$store.getters.lastBids
			},
		 },
		 components: {
		    PictureInput
		  },
		  created: function () {
		   	this.getCategories()
		   	this.getBidItem()
		  },
	}
</script>
