<style lang="scss" scoped>

</style>

<template lang="html">
<div id="app">
  <v-app id="home">
  	<transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
  	<v-container grid-list-md text-xs-center class="view-width" v-show="loaded">

  		<v-layout row wrap>

			<v-flex xs12 sm9 lg10>

				<v-layout row wrap>
		  			<v-container v-if="bidItemsBusy" fill-height fluid class="loader-container">
						<v-layout row wrap align-center>
								<v-flex class="text-xs-center" xs12 sm9 lg10>
									<v-progress-circular class="valign-wrapper" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
								</v-flex>
						</v-layout>
					</v-container>
					<v-flex xs12 sm6 lg3 v-if="bidItems" v-for="item in bidItems" :key="item.pk" @click="openAuction(item.pk)">
						<v-card>
							<v-card-media :src="item.img" height="200px" class="card-media-hover">
							<v-container fill-height fluid class="bid-item-header">
								<v-layout fill-height>
									<v-flex xs6 flexbox  class="text-xs-left">
										<p v-if="item.sold"class="headline text-shadow white--text">Sold</p>
									</v-flex>
									<v-flex xs6 flexbox  class="text-xs-right">
										<span class="headline text-shadow"><v-icon dark>navigate_next</v-icon></span>
									</v-flex>
								</v-layout>
							</v-container>
							</v-card-media>
							<v-card-title primary-title>
								<v-layout row wrap class="text-xs-left">
									<v-flex xs12 class="no-padding-bottom">
										<div class="headline">{{item.name}}</div>
									</v-flex>
									<v-flex xs12 class="no-padding-bottom item-card-text">
										<span class="grey--text">{{item.description}}</span>
									</v-flex>
									<v-flex xs6 sm12>
										<span class="subheading ">Goal: 
											<span class="subheading font-weight6 green--text">
												{{item.goal}}€</v-icon>
											</span>
										</span>
									</v-flex>
									<v-flex xs6 sm12>
										<span class="subheading">Current: 
											<span class="subheading font-weight6 green--text">
												{{item.current}}€
											</span>
										</span>
									</v-flex>
									</v-layout>
							</v-card-title>
							<v-layout row wrap>
								<v-flex xs12 sm12 lg12 class="no-padding-bottom">
									<v-progress-linear class="no-margin" :value="item.current*100/item.goal" height="10" color="success"></v-progress-linear>
								</v-flex>
							</v-layout>
						</v-card>
					</v-flex>

					<v-container v-if="!bidItems" fill-height fluid class="error-no-container">
						<v-layout row wrap align-center>
								<v-flex class="text-xs-center" xs12 sm9 lg10>
									<p center class="display-2 gray--text text--lighten-3" v-if="!bidItems">No items found, try to change filters</p>
								</v-flex>
						</v-layout>
					</v-container>

				</v-layout>
			</v-flex>
	      <v-flex xs12 sm3 lg2>
	        <v-card>
	          <v-list two-line subheader>
	            <v-subheader>Category</v-subheader>
	            <v-list-tile avatar v-for="category in categories" :key="category.name">
	              <v-list-tile-action>
	                	<v-checkbox v-model="category.value"></v-checkbox>
	              </v-list-tile-action>
	              <v-list-tile-content>
	                	<v-list-tile-title>{{category.name}}</v-list-tile-title>
	              </v-list-tile-content>
	            </v-list-tile>

	           <v-list-tile avatar>
	             <v-list-tile-content>
	   		            <v-text-field
	   	                label="Price From"
	   	                v-model="priceFrom"
	   	                prefix="€"
	   	                type="number"
	   	                placeholder="0"
	   	              ></v-text-field>
	             </v-list-tile-content>
	           </v-list-tile>

	            <v-list-tile avatar>
	             <v-list-tile-content>
	   		            <v-text-field
	   	                label="Price To"
	   	                v-model="priceTo"
	   	                prefix="€"
	   	                type="number"
	   	                placeholder="0"
	   	              ></v-text-field>
	             </v-list-tile-content>
	          	</v-list-tile>

	          	<v-list-tile avatar >
	             <v-list-tile-content class="manual-height">
	   		        <v-btn block color="primary" @click="getBids()">Filter</v-btn>
	   		        <v-btn block color="primary" @click="clearFilter()">Clear</v-btn>
	             </v-list-tile-content>
	          	</v-list-tile>

	          </v-list>
	        </v-card>
	      </v-flex>
		</v-layout>

		<v-pagination @input="getBids" v-if="pages.amount > 1" :length="pages.amount" v-model="page" :total-visible="7"></v-pagination>
	</v-container>

</transition>
  </v-app>
</div>
</template>

<script lang="js">

	export default {
		name: 'Home',
		data() {
		  return {
		  	categories:{},
		  	priceFrom: 0,
		  	priceTo: 0,
			page:1,
			loaded:false
		  }
		},
		computed: {
			bidItems () {
				return this.$store.getters.homeBidItems
			},
			pages (){
				return this.$store.getters.homeBidPages
			},
			bidItemsBusy () {
				return this.$store.getters.bidItemsBusy
			},
		},
		methods: {
			getBids(){
				var page = this.page
				var that = this
				var categories = []
				var priceFrom = this.priceFrom
				var priceTo = this.priceTo
				Object.keys(this.categories).forEach(function(key) {
					if(that.categories[key].value){
						categories.push(that.categories[key].name)
					}
				});
				this.$store.dispatch('getHomeBids', {page, categories, priceFrom, priceTo})
			},
			getCategories(){
				this.$store.dispatch('getCategories').then((result) => {
					this.categories = JSON.parse(JSON.stringify(this.$store.getters.homeCategories))
				})
			},
			openAuction(id){
				this.$store.dispatch('setCurrentBid', id)
				this.$router.push({ name:'Auction', params: { id: id }})
			},
			clearFilter(){
				this.page = 1
				var that = this
				Object.keys(this.categories).forEach(function(key) {
					that.categories[key].value = false
				});
				this.priceFrom = 0
				this.priceTo = 0 
				this.getBids()
			}
		},
		created: function () {
		 	this.getCategories()
		 	this.getBids()
		},
		mounted(){
		  setTimeout(()=>{
		    this.loaded = true
		  },100)
		}

	}
</script>


