<style lang="scss" scoped>

</style>

<template lang="html">
<div id="app">
  <v-app id="inspire" class="test">
    <v-container fluid fill-height>
      <v-layout  flex align-center justify-center>
      	<transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
			<v-flex xs10 sm7 lg4 v-show="step == 1">
				
				<v-card class="elevation-20 no-color" >

					<v-card-media height="10">
						
					</v-card-media>
					<v-card-title>

					<v-flex>
					
		     			<v-text-field
		                label="Username"
		                color="blue-grey darken-3"
		                name="username"
		                v-model="username"
		                :rules="[() => username.length > 0 || 'Input username']"
		                v-validate="'required'"
		                data-vv-scope="login"
		                persistent-hint
		                :error="errors.has('username', 'login')"
		                 ref="login"
		              	></v-text-field>

		        		<v-text-field
			            label="Enter your password"
			       		color="blue-grey darken-3"
			            v-model="password"
			            name="password"
			            :rules="[() => password.length > 0 || 'Input password']"
			            v-validate="'required'"
			            :type="'password'"
			            data-vv-scope="login"
			            :error="errors.has('password', 'login')"
			         	 ></v-text-field>

					</v-flex>

					</v-card-title>
					<v-layout>
						<v-flex xs6 v-ripple @click="stepChange(0)">
							<v-list class="transparent-color-red" dark>
								<v-list-tile>
									<v-list-tile-content class="white--text ">
										<v-list-tile-title class="text-xs-center">Register</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-flex>
						<v-flex xs6 v-ripple @click="login()">
							<v-list class="transparent-color-red" dark>
								<v-list-tile>
									<v-list-tile-content class="white--text ">
										<v-list-tile-title class="text-xs-center">Login</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-flex>
					</v-layout>
				</v-card>
			</v-flex>
		</transition>
		<transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
			<v-flex xs10 sm7 lg4 v-show="step == 0">
				
				<v-card class="elevation-20 no-color" >

					<v-card-media height="10">
						
					</v-card-media>
					<v-card-title class="transparent-color-white">

					<v-flex>
						
						<v-text-field
		                label="Username"
		                color="blue-grey darken-3"
		                v-model="rUsername"
		                name="rUsername"
		                :rules="[() => rUsername.length > 0 || 'This field is required', 
		                () => rUsername.length > 2 || 'Name too short']"
		                v-validate="'required'"
		                data-vv-scope="registration"
		                 :error="errors.has('rUsername', 'registration')"
		                 ref="registration"
		              	></v-text-field>

		              	<v-text-field
		                label="Email"
		                color="blue-grey darken-3"
		                v-model="rEmail"
		                name="rEmail"
		                :rules="emailRules"
		                required
		                v-validate="'required|email'"
		                data-vv-scope="registration"
		                :error="errors.has('rEmail', 'registration')"
		              	></v-text-field>

		     			<v-text-field
		                label="Password"
		                color="blue-grey darken-3"
		                name="rPassword"
		                v-model="rPassword"
		                :rules="[() => rPassword.length > 0 || 'This field is required' , () => rPassword.length > 7 || 'Password too short']"
		                :type="'password'"
		                v-validate="'required'"
		                hint="At least 8 characters"
		                data-vv-scope="registration"
		                :error="errors.has('rPassword', 'registration')"
		              	></v-text-field>

		              	<v-text-field
		                label="Confirm Password"
		                color="blue-grey darken-3"
		                v-model="rPassword2"
		                name="rPassword2"
		                :rules="[() => rPassword2.length > 0 || 'This field is required', rPassword2 == rPassword || 'Passwords do not match']"
		                :type="'password'"
		                v-validate="'required|confirmed:rPassword'"
		                data-vv-as="rPassword"
		                data-vv-scope="registration"
		                :error="errors.has('rPassword2', 'registration')"
		              	></v-text-field>

		        		

					</v-flex>

					</v-card-title>
					<v-layout>
						<v-flex xs6 v-ripple @click="stepChange(1)">
							<v-list class="transparent-color-red" dark>
								<v-list-tile>
									<v-list-tile-content class="white--text ">
										<v-list-tile-title class="text-xs-center">Login</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-flex>
						<v-flex xs6 v-ripple @click="register()">
							<v-list class="transparent-color-red" dark>
								<v-list-tile>
									<v-list-tile-content class="white--text ">
										<v-list-tile-title class="text-xs-center">Register</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-flex>
					</v-layout>
				</v-card>
			</v-flex>
		</transition>
      </v-layout>

    </v-container>
  </form>

  </v-app>
</div>
</template>


<script lang="js">
	// import moment from 'moment'
	import PictureInput from 'vue-picture-input'
	export default {
		name: 'Login',
		data() {
		  return {
		  	username: "",
		  	password: "",
		  	step: -1,
		  	e1: true,
		  	rUsername: "",
		  	rPassword: "",
		  	rPassword2: "",
		  	rEmail: "",
		  	
		  	emailRules: [
		  	  v => {
		  	    return !!v || 'E-mail is required'
		  	  },
		  	  v => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
		  	]
		  }
		},
		methods: {
		   stepChange: function (currentStep) {
		   	this.step = -1
		      setTimeout(()=>{
		      this.step = currentStep
		    },1000)
		   },
		   login: function () {
		   		console.log(this.$refs.login)
				this.$validator.validateAll('login').then((result) => {
					if (result) {
						var username = this.username
						var password = this.password
						this.$store.dispatch('login', {username, password}).then((response) => {
							if(this.$store.getters.loggedIn){
								this.$router.push('Home')
							}else{
								this.$validator.errors.add('username', 'UsernameExists', 'required', 'login')
								this.$refs.login.errorBucket.push("Invalid credentials")
							}
						})
					}
		   		})
		   },
		   register: function () {
				this.$validator.validateAll('registration').then((result) => {
					if (result) {
						var username = this.rUsername
						var password = this.rPassword
						var email = this.rEmail
						this.$store.dispatch('register', {username, password, email}).then(() => {
							var errors = this.$store.getters.registerErrors
							if(errors){
								this.$validator.errors.add('rUsername', 'UsernameExists', 'required', 'registration')
								this.$refs.registration.errorBucket.push("User name already exists")
							}
							else{
								this.step = 1
							}
						})


					}
		   		})
			},
		 },
		computed: {
		 	sameUserName: function(){
		 		// return true
		 		return this.rUsername == this.rSentUsername
		 	}
		 },
		 components: {
		    PictureInput
		  },
		  mounted(){
		    setTimeout(()=>{
		      this.step = 1
		    },100)
		  }
	}
</script>
