<style lang="scss" scoped>

</style>

<template lang="html">
<div id="app">
  <v-app id="home">
  	<transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
  	<v-container grid-list-md text-xs-center class="view-width" v-show="loaded">

  		<v-layout row wrap>

			<v-flex xs12 sm9 lg10>

				
  			<v-container v-if="bidItemsBusy" fill-height fluid class="loader-container">
				<v-layout row wrap align-center>
						<v-flex class="text-xs-center" xs12 sm9 lg10>
							<v-progress-circular class="valign-wrapper" indeterminate v-bind:size="50" color="primary"></v-progress-circular>
						</v-flex>
				</v-layout>
			</v-container>
			<v-data-table
				  v-if="bidItems"
				  v-bind:headers.sync="headers"
				  v-bind:items.sync="bidItems"
				  item-key.sync="name"
				  hide-actions
				  class.sync="elevation-1"
				>
				  <template slot="headerCell" slot-scope="props">
				    <v-tooltip bottom>
				      <span slot="activator">
				        {{ props.header.text }}
				      </span>
				      <span>
				        {{ props.header.text }}
				      </span>
				    </v-tooltip>
				  </template>
				  <template slot="items" slot-scope="props" >
				  	<tr :class="{ 'bid-sold': props.item.current >= props.item.goal }" @click="editBid(props.item.pk)">
					    <td>{{ props.item.name }}</td>
						<td>0</td>
						<td>{{ props.item.goal }}</td>
						<td>{{ props.item.current }}</td>
						<td>{{ Math.round(props.item.current*100/props.item.goal) + "%"}}</td>
					    <td>
					      <v-checkbox
					        primary
					        hide-details
					        disabled
					        v-model="props.item.sold"
					      ></v-checkbox>
					    </td>
					</tr>
				  </template>
				</v-data-table>

			<div class="text-xs-center pt-2">
				<v-pagination @input="getBids" v-if="pages.amount > 1" :length="pages.amount" v-model="page" :total-visible="7"></v-pagination>
			</div>

			<v-container v-if="!bidItems" fill-height fluid class="error-no-container">
				<v-layout row wrap align-center>
						<v-flex class="text-xs-center" xs12 sm9 lg10>
							<p center class="display-2 gray--text text--lighten-3" v-if="!bidItems">No items found, try to change filters</p>
						</v-flex>
				</v-layout>
			</v-container>

				
			</v-flex>
	      <v-flex xs12 sm3 lg2>
	        <v-card>
	          <v-list two-line subheader>
	            <v-subheader>Category</v-subheader>
	            <v-list-tile avatar v-for="category in categories" :key="category.name">
	              <v-list-tile-action>
	                	<v-checkbox v-model="category.value"></v-checkbox>
	              </v-list-tile-action>
	              <v-list-tile-content>
	                	<v-list-tile-title>{{category.name}}</v-list-tile-title>
	              </v-list-tile-content>
	            </v-list-tile>

	           <v-list-tile avatar>
	             <v-list-tile-content>
	   		            <v-text-field
	   	                label="Price From"
	   	                v-model="priceFrom"
	   	                prefix="€"
	   	                type="number"
	   	                placeholder="0"
	   	              ></v-text-field>
	             </v-list-tile-content>
	           </v-list-tile>

	            <v-list-tile avatar>
	             <v-list-tile-content>
	   		            <v-text-field
	   	                label="Price To"
	   	                v-model="priceTo"
	   	                prefix="€"
	   	                type="number"
	   	                placeholder="0"
	   	              ></v-text-field>
	             </v-list-tile-content>
	          	</v-list-tile>

	          	<v-list-tile avatar >
	             <v-list-tile-content class="manual-height">
	   		        <v-btn block color="primary" @click="getBids()">Filter</v-btn>
	   		        <v-btn block color="primary" @click="clearFilter()">Clear</v-btn>
	             </v-list-tile-content>
	          	</v-list-tile>

	          </v-list>
	        </v-card>
	      </v-flex>
		</v-layout>

	</v-container>

</transition>
  </v-app>
</div>
</template>

<script lang="js">

	export default {
		name: 'MyBids',
		data() {
		  return {
		  	categories:{},
		  	priceFrom: 0,
		  	priceTo: 0,
			page:1,
			loaded:false,
			selected: [],
			headers: [
		        { text: 'Listing', align: 'center', sortable: false},
		        { text: 'Bid Amount', align: 'center',sortable: false,},
		        { text: 'Goal', align: 'center',sortable: false,},
		        { text: 'Current', align: 'center',sortable: false,},
		        { text: 'Current percentage', align: 'center',sortable: false,},
		        { text: 'Sold', align: 'center',sortable: false,},
	      	],
		  }
		},
		computed: {
			bidItems () {
				return this.$store.getters.myBidItems
			},
			pages (){
				return this.$store.getters.myBidPages
			},
			bidItemsBusy () {
				return this.$store.getters.bidItemsBusy
			},
		},
		methods: {
			getBids(){
				var page = this.page
				var that = this
				var categories = []
				var priceFrom = this.priceFrom
				var priceTo = this.priceTo
				Object.keys(this.categories).forEach(function(key) {
					if(that.categories[key].value){
						categories.push(that.categories[key].name)
					}
				});
				this.$store.dispatch('getMyBids', {page, categories, priceFrom, priceTo})
			},
			getCategories(){
				this.$store.dispatch('getCategories').then((result) => {
					this.categories = JSON.parse(JSON.stringify(this.$store.getters.homeCategories))
				})
			},
			openAuction(id){
				this.$store.dispatch('setCurrentBid', id)
				this.$router.push({ name:'Auction', params: { id: id }})
			},
			clearFilter(){
				this.page = 1
				var that = this
				Object.keys(this.categories).forEach(function(key) {
					that.categories[key].value = false
				});
				this.priceFrom = 0
				this.priceTo = 0 
				this.getBids()
			},
			editBid(id){
				console.log(id)
				this.$router.push('EditBid/' + id)
			}
		},
		created: function () {
		 	this.getCategories()
		 	this.getBids()
		},
		mounted(){
		  setTimeout(()=>{
		    this.loaded = true
		  },100)
		}

	}
</script>


