<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
	<!-- {{ csrf_token }} -->
    <meta charset="utf-8">
    <title>Bidit</title>
</head>
<body>
<div id="app"></div>
{% render_bundle 'main' %}
</body>
</html>
